template(name='add')
    .ui.stackable.padded.grid
        .centered.row
            .sixteen.wide.center.aligned.column
                .ui.header
                    i.big.plus.icon
                    |add
        .centered.row
            .sixteen.wide.column
                .ui.stackable.centered.cards
                    a.ui.teal.card.add_request
                        .content
                            .ui.icon.teal.header
                                i.hand.holding.heart.icon
                                |request
                    a.ui.violet.card.add_event
                        .content
                            .ui.icon.header
                                i.calendar.icon
                                |event
                    a.ui.brown.card.add_product
                        .content
                            .ui.icon.orange.header
                                i.cart.icon
                                |product
                    if is_in_levels 'steward'
                        a.ui.blue.card.add_shift
                            .content
                                .ui.icon.orange.header
                                    i.clock.icon
                                    |shift
                    a.ui.yellow.card.add_gift
                        .content
                            .ui.icon.green.header
                                i.gift.icon
                                |gift
                    