template(name='add')
    .ui.stackable.padded.grid
        .centered.row
            .sixteen.wide.center.aligned.column
                .ui.big.header
                    +icon name='plus'
                    |add
        .centered.row
            .sixteen.wide.column
                .ui.stackable.centered.cards
                    a.ui.teal.card.add_request
                        .content
                            .ui.icon.teal.header
                                +icon name='request-service'
                                |request
                    a.ui.red.card.add_event
                        .content
                            .ui.icon.header
                                +icon name='calendar-plus'
                                |event
                    a.ui.brown.card.add_product
                        .content
                            .ui.icon.orange.header
                                +icon name='product'
                                |product
                    if is_in_levels 'steward'
                        a.ui.blue.card.add_shift
                            .content
                                .ui.icon.orange.header
                                    +icon name='clock'
                                    |shift
                    a.ui.yellow.card.add_gift
                        .content
                            .ui.icon.green.header
                                +icon name='gift'
                                |gift
                    a.ui.blue.card.add_post
                        .content
                            .ui.icon.green.header
                                +icon name='paper'
                                |post
                    