template(name='nav')
    .ui.fluid.attached.borderless.inverted.large.menu.topnav
        a.item(href="/" class="{{isActivePath 'home'}}")
            img.ui.avatar.compact.image(src="{{c.url 'one_logo' height=200 width=200 gravity='face' crop='fill'}}")
            // i.large.tree.icon
        if currentUser
            a.item.set_member(href="/m/member" class="{{isActiveRoute 'users'}}" title='players')
                +icolor name='conference-call' cl='ui mini image'
                // i.large.users.icon
                span.mobile.hidden members
            // a.item.set_event(href="/m/event" class="{{isActiveRoute 'events'}}" title='events')
            //     +icolor name='calendar'
            //     // i.large.calendar.icon
            //     span.mobile.hidden events
            a.item(href="/events" class="{{isActiveRoute 'events'}}" title='requests')
                // i.large.hand.holding.heart.icon
                +icolor name='calendar'
                span.mobile.hidden
                    |&nbsp;
                    |events
                
            // a.item.set_shift(href="/m/shift" class="{{isActiveRoute 'shifts'}}" title='shifts')
            //     // i.large.clock.icon
            //     +icolor name='clock'
            //     // span.mobile.hidden shifts
            // a.item(href="/shop" class="{{isActiveRoute 'shop'}}" title='shop')
            // a.item.set_product(href="/m/product" class="{{isActiveRoute 'shop'}}" title='shop')
            //     // i.large.shop.icon
            //     +icolor name='shop'
            a.item.set_discussion(href="/m/discussion" class="{{isActiveRoute 'discussions'}}" title='discussions')
                // i.large.shop.icon
                +icolor name='speech-bubble-with-dots'
                span.mobile.hidden
                    &nbsp;
                    |discussions
            // a.item(href="/gifts" class="{{isActiveRoute 'gifts'}}" title='gifts')
            //     i.big.gift.icon
                // span.mobile.hidden gifts
            // a.item(href="/requests" class="{{isActiveRoute 'requests'}}" title='requests')
            
            
            // a.item.set_request(href="/m/request" title='requests')
            //     // i.large.hand.holding.heart.icon
            //     +icolor name='request-service'
            //     span.mobile.hidden requests
            a.item(href="/requests" class="{{isActiveRoute 'requests'}}" title='requests')
                // i.large.hand.holding.heart.icon
                +icolor name='request-service'
                span.mobile.hidden 
                    &nbsp;
                    |requests
            // a.item.set_badge(href="/m/badge" class="{{isActivePath 'badges'}}" title='badges')
            //     // i.large.hand.holding.heart.icon
            //     +icolor name='prize'
            //     // span.mobile.hidden badges
            // a.item.set_project(href="/m/project" class="{{isActivePath regex='projects'}}" title='projects')
            //     // i.large.hand.holding.heart.icon
            //     +icolor name='project'
            //     // span.mobile.hidden projects
            // a.item.set_rental(href="/m/rental" class="{{isActivePath regex='rentals'}}" title='rentals')
            //     // i.large.hand.holding.heart.icon
            //     +icolor name='key-exchange'
            //     // span.mobile.hidden projects
            // a.icon.item.set_location(href="/m/location" class="{{isActivePath regex='locations'}}" title='locations')
            //     +icolor name='marker'
            if is_admin
                a.icon.item(href="/m/model" class="{{isActivePath regex='model'}}" title='models')
                    +icolor name='database'
        .right.menu
            // a.item.add_gift(class="{{isActivePath regex='gift_edit'}}" title='gift')
            //     i.large.gift.icon
            //     span.mobile.hidden gift
            // a.item.add_request(class="{{isActivePath regex='request_edit'}}" title='request')
            //     i.large.hand.holding.heart.icon
            //     span.mobile.hidden request
            a.icon.item.add(href="/add" title='add') 
                i.plus.large.icon
            a.icon.item(href="/chat" title='chat') 
                i.chat.large.icon
            if is_in_admin
                a.icon.item.toggle_admin
                    if is_admin
                        i.shield.blue.large.icon
                    else
                        i.shield.large.icon
            if currentUser
                a.large.item.view_profile(href="/user/#{currentUser.username}" class="{{isActivePath regex='profile_layout'}}")
                    //- i.large.user.large.icon
                    if currentUser.profile_image_id
                        img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    else 
                        i.large.user.large.icon
                    |#{currentUser.username}
                    |#{currentUser.points}
            else
                // a.item(href="/register" title='register')
                //     // |login
                //     +icon name='plus'
                //     // i.large.chevron.right.icon
                a.item(href="/login" title='login')
                    // |login
                    +icon name='login-rounded-right'
                    // i.large.chevron.right.icon
