template(name='nav')
    .ui.fluid.attached.borderless.inverted.small.menu.topnav
        a.item(href="/" class="{{isActivePath 'home'}}")
            +icon name='circled'
            // i.large.tree.icon
        if currentUser
            a.item(href="/users" class="{{isActiveRoute 'users'}}" title='players')
                +icolor name='conference-call'
                // i.large.users.icon
                // span.mobile.hidden members
            a.item(href="/events" class="{{isActiveRoute 'events'}}" title='events')
                +icolor name='calendar'
                // i.large.calendar.icon
                // span.mobile.hidden events
            a.item(href="/shifts" class="{{isActiveRoute 'shifts'}}" title='shifts')
                // i.large.clock.icon
                +icolor name='clock'
                // span.mobile.hidden shifts
            a.item(href="/shop" class="{{isActiveRoute 'shop'}}" title='shifts')
                // i.large.shop.icon
                +icolor name='shop'
            a.item(href="/discussions" class="{{isActiveRoute 'discussions'}}" title='discussions')
                // i.large.shop.icon
                +icolor name='speech-bubble-with-dots'
                
                // span.mobile.hidden shop
            // a.item(href="/gifts" class="{{isActiveRoute 'gifts'}}" title='gifts')
            //     i.big.gift.icon
                // span.mobile.hidden gifts
            a.item(href="/requests" class="{{isActiveRoute 'requests'}}" title='requests')
                // i.large.hand.holding.heart.icon
                +icolor name='request-service'
                // span.mobile.hidden requests
            a.item(href="/badges" class="{{isActivePath 'badges'}}" title='badges')
                // i.large.hand.holding.heart.icon
                +icolor name='prize'
                // span.mobile.hidden badges
            a.item(href="/projects" class="{{isActivePath regex='projects'}}" title='projects')
                // i.large.hand.holding.heart.icon
                +icolor name='project'
                // span.mobile.hidden projects
            a.icon.item(href="/locations" class="{{isActivePath regex='locations'}}" title='locations')
                +icolor name='marker'
        .right.menu
            // a.item.add_gift(class="{{isActivePath regex='gift_edit'}}" title='gift')
            //     i.large.gift.icon
            //     span.mobile.hidden gift
            // a.item.add_request(class="{{isActivePath regex='request_edit'}}" title='request')
            //     i.large.hand.holding.heart.icon
            //     span.mobile.hidden request
            if currentUser
                a.icon.item.add(href="/add" title='add') 
                    i.plus.large.icon
            if is_in_admin
                a.icon.item.toggle_admin
                    i.shield.icon
            if currentUser
                a.large.item.view_profile(href="/user/#{currentUser.username}" class="{{isActivePath regex='profile_layout'}}")
                    //- i.large.user.large.icon
                    if currentUser.profile_image_id
                        img.ui.avatar.compact.image(src="{{c.url currentUser.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                    else 
                        i.large.user.large.icon
                    |#{currentUser.username}
                    |#{currentUser.points}
            else
                a.item(href="/register" title='register')
                    // |login
                    +icon name='add-user-female'
                    // i.large.chevron.right.icon
                a.item(href="/login" title='login')
                    // |login
                    +icon name='login-rounded-right'
                    // i.large.chevron.right.icon
