body{
    /*background-color: lightgrey !important;*/
    transition: all 1s linear;
    
}
.five.wide.column {
    padding: 0px !important;
}
.label {
    transition: all 1s ease !important;
    margin-bottom: 2px !important;
    margin-top: 2px !important;
    border-radius: 10px !important;
}
::-webkit-scrollbar {
  width: 0px !important;
  /*border-radius: 10px !important;*/
}

input {
    border-radius: 10px !important;
}

.input {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}
.button {
    transition: all 1s ease !important;
    margin-bottom: 5px !important;
    border-radius: 10px !important;
}

.scrolling{
    max-height: 90vh !important;
    /*min-height: 50vh !important;*/
    /* padding: 5px !important;
    border-radius: 10px !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-style: solid !important; */
    overflow-y:scroll;
    overflow-x:hidden;
    /*margin-top: 1em; */
    padding-top: .5em; 
    padding: .4em;
    /*padding-left: 1em;*/
}

.medscroll::-webkit-scrollbar-thumb {
    width:3px !important;
}

.medscroll{
    /* padding: 5px !important;
    border-radius: 10px !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-style: solid !important; */
    max-height: 500px !important;
    overflow-y:scroll;
	overflow-x:hidden;
	/* padding-top: .2em; */
	padding: .2em;
	/*padding-left: 1em;*/
}
