body {
    background-color: rgba(0,0,0,.85) !important;
    filter: invert(1) !important; 
    /*transition: all .2s linear !important;*/
    transition: all .1s linear !important;
}
.invert {
     filter: invert(1) !important; 
    
}
img {
     filter: invert(1) !important; 
    
}

    
.five.wide.column, .four.wide.column {
    padding: 0px !important;
}
.label {
    transition: all .1s linear !important;
    margin-bottom: 2px !important;
    margin-top: 2px !important;
    border-radius: 10px !important;
}
::-webkit-scrollbar {
  width: 0px !important;
  border-radius: 10px !important;
}

input {
    border-radius: 10px !important;
}

.input {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.nl2br {
    white-space: pre-wrap;
}

.rounded.image {
    transition: all .2s linear !important;
    margin: 5px !important;
    border-radius: 10px !important;
}
.button:not(.circular) {
    border-radius: 10px !important;
}
.button {
    transition: all .2s linear !important;
    margin-bottom: 5px !important;
}

.scrolling{
    max-height: 90vh !important;
    /*min-height: 50vh !important;*/
    /* padding: 5px !important;
    border-radius: 10px !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-style: solid !important; */
    overflow-y:scroll;
    overflow-x:hidden;
    /*margin-top: 1em; */
    padding-top: .5em; 
    padding: .4em;
    /*padding-left: 1em;*/
}

.medscroll::-webkit-scrollbar-thumb {
    width:0px !important;
}

.medscroll{
    /* padding: 5px !important;
    border-radius: 10px !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-style: solid !important; */
    max-height: 700px !important;
    overflow-y:scroll;
	overflow-x:hidden;
	/* padding-top: .2em; */
	padding: .2em;
	/*padding-left: 1em;*/
}


.pointer:hover {
    cursor: pointer !important;
    /* color: black !important; */
    /* font-size: 130% !important; */
    /*zoomer: 110% !important;*/
    /* padding-top: 5em !important; */
    /*transform: scale(1.) !important;*/
    z-index: 1000 !important;
    /*text-shadow: 0 20px 20px 20px rgba(50, 50, 100, 0.1) !important; */
    /*text-shadow: 0 0 3px grey !important;*/
    filter: drop-shadow(0px 0px 5px grey);    
    /*transition: all .2s linear !important; */
}
.button:hover {
    z-index: 1000 !important;
    /*transform: scale(1.1) !important;*/
}
.zoomer:hover {
    transition: all .1 linear !important; 
    z-index: 1000 !important;
    transform: scale(1.1) !important;
}
.superzoom:hover {
    transition: all .5 linear !important; 
    z-index: 1000 !important;
    transform: scale(1.5) !important;
}
.label:hover {
    z-index: 1000 !important;
    transform: scale(1.1) !important;
}
.pointer:active {
  box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

.inline {
    display: inline !important;
}
.spacer {
    min-height: 5px !important;
}
