body {
    /*background-color: rgba(0,0,0,.9) !important;*/
    /*filter: invert(1) !important; */
    /*font-size: 110% !important;*/
    /*transition: all .1s ease !important;*/
}
.alphatemp, .invert {
  /*filter: invert(1) !important; */
    
}

.full {
  width: 100% !important;
}

.card {
  border-radius: 10px !important;
}


img {
     /*filter: invert(1) !important; */
     position: relative;
     display: inline !important;
}

.select_term {
  font-size: 110% !important;
}    
    
    
.five.wide.column, .four.wide.column {
    padding: 0px !important;
}
.toggle_mode {
    padding: 5px !important;
}
.label {
    /*font-size: 110% !important;*/
    transition: all .1s ease !important;
    margin-bottom: 2px !important;
    margin-top: 2px !important;
    vertical-align: middle !important;
    
    /*border-radius: 10px !important;*/
}

.middled {
  vertical-align: middle !important;
}

::-webkit-scrollbar {
  width: 0px !important;
  border-radius: 10px !important;
}

input {
    border-radius:20px !important;
    margin: 2px !important;
    /*margin-bottom: 2px !important;*/
}

.nl2br {
    white-space: pre-wrap;
}

.alphatemp {
    transition: all .2s ease !important;
    /*margin-top: 5px !important;*/
    margin-top: 5px !important;
    padding: 7px !important;
    /*border-radius: 5px !important;*/
}
.button:not(.circular) {
    /*border-radius: 10px !important;*/
}
.button {
    transition: all .2s ease !important;
    margin-bottom: 5px !important;
}

.scrolling{
    max-height: 90vh !important;
    /*min-height: 50vh !important;*/
    /* padding: 5px !important;
    border-radius: 10px !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-style: solid !important; */
    overflow-y:scroll;
    overflow-x:hidden;
    /*margin-top: 1em; */
    padding-top: .5em; 
    padding: .4em;
    /*padding-left: 1em;*/
}

.medscroll::-webkit-scrollbar-thumb {
    width:0px !important;
}

.medscroll{
    /* padding: 5px !important;
    border-radius: 10px !important;
    border-width: 1px !important;
    border-color: grey !important;
    border-style: solid !important; */
    max-height: 600px !important;
    overflow-y:scroll;
    overflow-x:hidden;
    /* padding-top: .2em; */
    padding: .2em;
    /*padding-left: 1em;*/
}
.smallscroll{
    max-height: 300px !important;
    overflow-y:scroll;
    overflow-x:hidden;
    /* padding-top: .2em; */
    padding: .2em;
    /*padding-left: 1em;*/
}

/*.toggle_emotion {*/
  /*text-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.75);*/
  /*text-shadow: 1px 1px 2px 0px rgba(0,0,0,0.8);*/

/*}*/

.pointer:hover {
    cursor: pointer !important;
    /* color: black !important; */
    /* font-size: 130% !important; */
    /*zoomer: 110% !important;*/
    /* padding-top: 5em !important; */
    /*transform: scale(1.) !important;*/
    z-index: 1000 !important;
    /*text-shadow: 0 20px 20px 20px rgba(50, 50, 100, 0.1) !important; */
    /*text-shadow: 0 0 3px grey !important;*/
    /*text-shadow: 0 0 3px grey !important;*/
    filter: drop-shadow(0px 0px 1px grey);    
    transition: all .2s ease !important; 
}
.button:hover {
    z-index: 1000 !important;
    /*transform: scale(1.1) !important;*/
}
.icon {
    /*transition: all .1s ease !important; */
}
.zoomer:hover {
    /*transition: all .1s ease !important; */
    z-index: 1000 !important;
    transform: scale(1.1) !important;
}
.zoomer {
    /*transition: all .1s ease !important; */
    /*z-index: 1000 !important;*/
    /*transform: scale(1.1) !important;*/
}
.superzoom:hover {
    transition: all .25 ease !important; 
    z-index: 1000 !important;
    transform: scale(2) !important;
}
.tone_item {
  transition: all .1s ease !important; 
  
}
.label {
  /*padding:10px !important;*/
  /*margin:10px !important;*/
  /*transition: all .1s ease !important; */
}
.label:hover {
  /*padding:10px !important;*/
  /*margin:10px !important;*/
  /*transition: all .1s ease !important; */
  z-index: 1000 !important;
  transform: scale(1.1) !important;
}
.item {
  /*padding:10px !important;*/
  /*margin:10px !important;*/
  /*transition: all .25 ease !important; */
}
.item:hover {
  /*padding:10px !important;*/
  /*margin:10px !important;*/
  /*transition: all .1s ease !important; */
  z-index: 1000 !important;
  /*transform: scale(1.1) !important;*/
}
.icon {
  /*padding:10px !important;*/
  /*margin:10px !important;*/
  /*transition: all .1s ease !important; */
}
.icon:hover {
  /*padding:10px !important;*/
  /*margin:10px !important;*/
  /*transition: all .1s ease !important; */
  z-index: 1000 !important;
  transform: scale(1.1) !important;
}
.pointer:active {
  /*box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.75);*/
  /*box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.8);*/
}

.inline {
    display: inline !important;
}
.spacer {
    min-height: 5px !important;
}
.f20 {
  font-size: 200% !important;
  /* line-height: 200% !important; */
  /* margin-bottom: 10px !important;  */
}
.f19 {
  font-size: 190% !important;
  /* line-height: 190% !important; */
  /* margin-bottom: 10px !important;  */
}
.f18 {
  font-size: 180% !important;
  /* line-height: 180% !important; */
  /* margin-bottom: 10px !important;  */
}
.f17 {
  font-size: 170% !important;
  /* line-height: 170% !important; */
  /* margin-bottom: 10px !important;  */
}
.f16 {
  font-size: 160% !important;
  /* line-height: 160% !important; */
  /* margin-bottom: 10px !important;  */
}
.f15 {
  font-size: 150% !important;
  /* line-height: 150% !important; */
  /* margin-bottom: 10px !important;  */
}
.f14 {
  font-size: 140% !important;
  line-height: 110% !important;
  /* margin-bottom: 10px !important;  */
}
.f13 {
  font-size: 130% !important;
  line-height: 120% !important;
  /* margin-bottom: 10px !important;  */
}
.f12 {
  font-size: 120% !important;
  line-height: 120% !important;
  /* margin-bottom: 10px !important;  */
}
.f11 {
  font-size: 110% !important;
  line-height: 120% !important;
  /* margin-bottom: 10px !important;  */
}
.f10 {
    font-size: 100% !important;
    line-height: 100% !important;
    /* margin-bottom: 10px !important;  */
}
.f9 {
  font-size: 90% !important;
  line-height: 90% !important;
  /* margin-bottom: 5px !important;  */
}
.f8 {
  font-size: 80% !important;
  line-height: 80% !important; }
.f7 {
  font-size: 70% !important;
  line-height: 70% !important; }
.f6 {
  font-size: 60% !important;
  line-height: 60% !important; }
.f5 {
  font-size: 50% !important;
  line-height: 50% !important; }
.f4 {
  font-size: 40% !important;
  line-height: 40% !important; }
.f3 {
  font-size: 30% !important;
  line-height: 30% !important; }
.f2 {
  font-size: 20% !important;
  line-height: 20% !important; }
.f1 {
  font-size: 10% !important;
  line-height: 10% !important; }
.f0 { display:none; }


@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

/* Mobile */
@media only screen and (max-width: 765px) {
  .mobile.hidden,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .mobile.only,
  .tablet.hidden,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .mobile.only,
  .tablet.only,
  .computer.hidden,
  .large.monitor.only,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.hidden,
  .widescreen.monitor.only {
    display: none !important;
  }
}
/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  .mobile.only,
  .tablet.only,
  .computer.only,
  .large.monitor.only,
  .widescreen.monitor.hidden {
    display: none !important;
  }
}
