template(name='user_stats')  
    .ui.center.aligned.header 
        +icon name='line-chart'
        |user stats
    with user
        .item #{total_bandwith} total bandwith
        .item #{calculated_user_balance}p recorded balance
        // .ui.small.inline.spaced.header {{fixed one_score}} one score
