template(name='user_edit_tags')
    .ui.header
        +icolor name='tags' cl='ui image'
        | tags
    .ui.grid 
        .row 
            .sixteen.wide.column
                +array_edit key='tags' label='tags' icon='tags' direct=true
                .spacer
